<div class="quiz">
  @if (quizzService.showResults()) {
    <div class="results">
      <div class="congratulations">Congratulations</div>
      <div class="results-info">
        <div>You have completed the quizz</div>
        <div> You've got {{ quizzService.correctAnswerCount() }} of {{ quizzService.questions().length }} right.</div>
      </div>
      <div class="next-button" (click)="quizzService.restart()">Restart</div>
    </div>
  }
  @if (!quizzService.showResults()) {
    <div>
      <div class="score">Question {{ quizzService.currentQuestionIndex() + 1 }}/{{ quizzService.questions().length }}
      </div>
      <app-question/>
      @if (quizzService.currentAnswer()) {
        <div (click)="quizzService.goToNextQuestion()" class="next-button">Next question</div>
      }
    </div>
  }
</div>

